* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  width: 825px;
  margin: 100px auto;
  position: relative;
  font-family: sans-serif;
} */

.container::before {
  content: "Sale";
  text-transform: uppercase;
  background-color: orangered;
  position: absolute;
  top: -15px;
  left: -40px;
  padding: 7px 15px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.25em;
}

.product {
  border: 5px solid black;
  line-height: 1.4;
  width: 825px;
  margin: 100px auto;
  position: relative;
  font-family: sans-serif;
}

.colors > * {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-top: 35px;
  margin-right: 10px;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

h2,
h3 {
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
}

#product-title {
  text-align: center;
  padding: 15px;
}

.price {
  font-size: 30px;
  margin: 0;
  /* float: left; */
}

.shipping {
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 8px;
  /* float: right; */
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.add-to-cart {
  font-size: 20px;
  text-transform: uppercase;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
  border-top: 5px solid black;
}

.details-title {
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* FLOATS 

.image {
  float: left;
}

.product-info {
  width: 240px;
  float: left;
  margin-left: 40px;
}

.product-details {
  width: 240px;
  float: left;
  margin-left: 40px;
}

.description {
  margin-top: 20px;
  clear: both;
  display: inline-block;
} */

/* FLEX 
  .row {
  display: flex;
  gap: 40px;
  align-content: flex-start;
}

.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-info {
  flex: 1;
}

.product-details {
  flex: 1;
} */

/* GRID */

.product {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

h2 {
  grid-column: 1/ -1;
}

button {
  grid-column: 1/ -1;
}

.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
