* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
}

article {
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

li:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 40px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 25px 0;
  margin-bottom: 10px;
}

li:first-child {
  font-weight: bold;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

a:active {
  color: orange;
  text-decoration: none;
}
